{%- block form_start -%}
{% set method = method|upper %}
{%- if method in ["GET", "POST"] -%}
{% set form_method = method %}
{%- else -%}
{% set form_method = "POST" %}
{%- endif -%}
{% set attr = attr|merge({'class': (attr.class|default('form-horizontal'))|trim }) %}
<form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
    <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
    {%- endblock form_start -%}

    {%- block form_row -%}
    <div class="form-group {{ errors|length > 0 ? 'has-error' : ''}}">
        {{- form_label(form) -}}
        <div class="col-sm-9">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
    {%- endblock form_row -%}

    {%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {%- endif -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('')~' col-sm-3 control-label ')|trim}) %}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
                    {%- else -%}
                    {% set label = name|humanize %}
                    {%- endif -%}
                    {%- endif -%}
                    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
                    {%- endif -%}
                    {%- endblock form_label -%}
    {%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type != 'file' %}
        {% set attr = attr|merge({'class': (attr.class|default('')~' form-control')|trim}) %}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {%- endblock form_widget_simple -%}
    {%- block textarea_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('')~' form-control')|trim}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {%- endblock textarea_widget -%}
    {%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
    {% set required = false %}
    {%- endif -%}
    {% set attr = attr|merge({'class': (attr.class|default('')~' form-control')|trim}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
        <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
        {% set options = preferred_choices %}
        {{- block('choice_widget_options') -}}
        {%- if choices|length > 0 and separator is not none -%}
        <option disabled="disabled">{{ separator }}</option>
        {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    {%- endblock choice_widget_collapsed -%}
    
    {%- block choice_widget_expanded -%}
    {% for child in form %}
        <div class="checkbox">
            <label>
                {{- form_widget(child) -}} {{child.vars.label}}
            </label>
        </div>
    {% endfor %}

    {%- endblock choice_widget_expanded -%}
    
    {%- block form_errors -%}

    {%- for error in errors -%}
    <span class="help-block">{{ error.message }}</span>
    {%- endfor -%}
    {%- endblock form_errors -%}
    
    {%- block button_row -%}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{- form_widget(form) -}}
        </div>
    </div>
    {%- endblock button_row -%}
    
    {%- block button_widget -%}
    {%- if label is empty -%}
    {%- if label_format is not empty -%}
    {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
    {%- else -%}
    {% set label = name|humanize %}
    {%- endif -%}
    {%- endif -%}
    {% set attr = attr|merge({'class': (attr.class|default('')~' btn')|trim }) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
    {%- endblock button_widget -%}
{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {% set attr = attr|merge({'class': (attr.class|default('btn-success'))|trim }) %}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}